@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@600&family=Poppins:wght@600&display=swap');

:root{
 
    --dark-color:#070707;
    --main-bg-color:#121212;
    --secund-bg-color:#1c1c1c;
    --blue-main:#001659;
    --secund-color:#321ba6;   
    --red-main:#b30000;
    --main-color:#09bc9a;
    --secund-bg-color-light:#e8ede5;
    --main-bg-color-light:#f1f1f1;
}
*{
    padding: 0;
    margin: 0;
}
body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
.container {
 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background:#070707;
}

form {
  width: 40em;
  height: 30em;
  position:relative;
  background-color: var(--dark-color);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3rem;
}

.form-group {
  position: relative;
  width: 60%;
  height: 2rem;


}

.container .form-group .input-form {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--main-bg-color-light);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--main-color);
  outline: none;
  background: transparent;
}
.container .form-group select option{
    color:var(--main-color);
    background-color:var(--main-bg-color);
    
}
.container .form-group select:hover and option:hover{
    background-color: #000;
    color:var(--secund-bg-color-light);
}

.container .form-group .label-form {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.container .form-group .label{
  top:-1.5em;
}

.container .form-group input:active ~ label,
.container .form-group input:focus ~ label {
  top: -20px;
  left: 0;
  color: var(--main-color);
  font-size: 12px;
}

.container form .btn {
  display: inline-block;
  padding: .5em 1.4em;
  color: #09bc9a;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  position:relative;
  top:3rem;
  letter-spacing: 4px;
  border:none;
  background-color: transparent;
  font-weight: 800;
  cursor: pointer;
  
}

.container form .btn:hover {
  background: var(--secund-color);
  color: var(--main-bg-color-light);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--secund-color),
              0 0 25px var(--secund-color),
              0 0 50px var(--secund-color),
              0 0 100px var(--secund-color);
}
.boton{
  position:relative;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:-2em;
}



h1{
  font-size: 5em;
  width: auto;
  height: auto;
  color:var(--main-bg-color-light);
  position: relative;
  top:-.4em;
  text-shadow:0 0 5px var(--blue-main),
  0 0 25px var(--blue-main),
  0 0 50px var(--blue-main),
  0 0 100px var(--blue-main);;
  letter-spacing: 3px;
  font-weight: 900;
  font-family: "Montserrat";
  
}
.error{

  display: flex;
position: absolute;
z-index: 100;
top:38%;
font-size: 1.2rem;
color:var(--red-main);
font-weight: 900;
letter-spacing: 3px;
text-transform: uppercase;
text-align: center;
padding: .5rem 2rem;
}
