@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@600&family=Poppins:wght@600&display=swap');
@import "normalize.css";

body{
  overflow: hidden;
  background-color: #0c0c0c;
  padding: 3rem 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0c0c0c;
  padding:3rem 0;
  position: relative;

  
}

form {
  width: 90%;
  height: 80vh;
  min-height: 80vh;
  background-color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  position: absolute;
  top:8%;
  z-index: 2;

}

.form-small {
  width: 35%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.box-form {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 35%;
  height: 80%;
  padding: 2rem;
  position: absolute;
  left:-5%;
  top:15%
}
.box-form-right{
left: 60%;
}

form h3{
  position:absolute;
  top:3rem;
  margin: 0 2rem;
  
}
.title-right{
  left: 70%;
}
.title-left{
  left:19%;
}

.box-form-mid{
  left: 25%;
  
}
.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 2rem;
  width: 70%;
}

.form-group .input-form {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  color: var(--main-bg-color-light);
  border: none;
  border-bottom: 1px solid var(--secund-color);
  outline: none;
  background: transparent;
}


.container .form-group select option {
  color: var(--secund-color);
  background-color: var(--main-bg-color);

}

.container .form-group select:hover and option:hover {
  background-color: #000;
  color: var(--secund-bg-color-light);
}

.container .form-group .label-form {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.container .form-group .label {
  top: -1.5em;
}

.container .form-group .input-form:focus~.label-form,
.container .form-group .input-form:valid~.label-form{
  top: -20px;
  left: 0;
  color: var(--secund-color);
  font-size: .7rem;
}

.select-input{
  top :-20px;
  left: 0;
  color: var(--main-bg-color);
  font-size: .7rem;
}
.container form .btn {
  display: flex;
  padding: .5rem 1.4rem;
  color:var(--main-bg-color-light);
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;

  overflow: hidden;
  position: absolute;
  top: 3rem;
  letter-spacing: 4px;
  border: none;
  background-color: transparent;
  font-weight: 800;
  cursor: pointer;
  top: 83%;
  margin: auto;

}

.container form .btn-competidor {
  left: 41%
}

.container form .btn:hover {
  background: var(--secund-color);
  color: var(--main-bg-color-light);
  border-radius: 5px;
  text-shadow:0 0 5px var(--secund-color),
  0 0 25px var(--secund-color),
  0 0 50px var(--secund-color),
  0 0 100px var(--secund-color);;
}



h1 {
  font-size: 4rem;
  width: auto;
  height: auto;
  color: var(--main-bg-color-light);
  position: absolute;
  top: -5rem;

  z-index: 20;
  letter-spacing: 3px;
  font-weight: 900;
  font-family: "Poppins";
  

}

h1 span{
  color:var(--main-color);
}


.bar {
  top:89%;
 left: -100%; 
 width: 70%;
 height: 2px;
 background:var(--secund-color);

 animation: 2s infinite movimiento_bar;
 position: absolute;
 transition: ease-in-out;
}

@keyframes movimiento_bar {
 0% {

   left: -100%;
 
 }



 50% {
   left: 100%;
 }

 51%,80%{
   text-shadow:0 0 5px var(--secund-color),
 0 0 25px var(--secund-color),
 0 0 50px var(--secund-color),
 0 0 100px var(--secund-color);;
 }



 100% {
   left: 100%;
 }
}
@media (min-width:0px) and (max-width:767px) {


  .container {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0c0c0c;
    gap:1rem;
   
  }

  form {
    width: 80%;
    height: 70%;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    position: relative;
    

  }
  
.form-dojo{
width: 80%;
height: 70vh;
display: flex;
position: relative;


}

  .box-form {
    display: "flex";
    width: 100%;
  }

  .form-group {

    width: 100%;
  }

  .container form .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5rem;
  }

  h1 {
    margin: 0;
    font-size: 4rem;
  }
}