@media (max-width:768px){
  
    .container {
     overflow: auto;
    }
    
    form {
      width: 80vw;
      height: 60vh;
      max-width: 30rem;
      min-width:370px;
    
    }
    .error{
    font-size: .8rem;
    }
}